<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="NuGet.Common" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Configuration" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.Types" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.v3" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Protocol.VisualStudio" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Versioning" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.VisualStudio" version="4.8.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net452" />
  <package id="xunit" version="2.4.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net452" />
  <package id="xunit.core" version="2.4.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net452" />
  <package id="xunit.runner.console" version="2.4.0" targetFramework="net452" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.4.0" targetFramework="net452" developmentDependency="true" />
</packages>